<body id="user_sign_up_body">
	<div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome' style="margin-top: 15px;">Edit Profile</div>
      <div class='input-fields'>
      	<%= form_for @user do |form| %>
      		<%= form.text_field :name, type: 'name',placeholder:"Name",class:"input-line full-width"%>
      		<%= form.text_field :email, type: 'email',placeholder:"E-mail",class:"input-line full-width"%>
      		<%= form.text_field :password, type: 'password',placeholder:"Password",class:"input-line full-width"%>
        	<div><%= form.submit "Update Profile",:class => "ghost-round full-width" %></div>
        <%end%>	
      </div>
	</div>
</div>
</body>