<body id="user_show_main">
	<div class="frame">
	  <div class="center">
	    
			<div class="profile">
				<div class="name"><%= @user.name %></div>
				<div class="email"><%= @user.email %></div>
				<%if @user.role != "reg_user"%>
					<p><%= @user.role.upcase%></p>
				<%end%>
				<div class="actions">
					<%if current_user != nil %>
						<%if @user.id == current_user.id && current_user.name != "admin"%>
							<p class="btn"><%= link_to "Edit Profile", edit_user_path(current_user.id),{id:"edit_profile_button"} %></p>
								<p>For Testing different role</p>
								<%= form_for @user do |form|%>
									<%= form.hidden_field :role, :value => "reg_user" %>
									<%= form.submit "Become Regular User"%>
								<%end%>
								<%= form_for @user do |form|%>
									<%= form.hidden_field :role, :value => "manager" %>
									<%= form.submit "Become Manager"%>
								<%end%>
								<%= form_for @user do |form|%>
									<%= form.hidden_field :role, :value => "finance"%>
									<%= form.submit "Become Finance"%>
								<%end%>
						<%elsif current_user.name == "admin"%>
							<p class="btn"><%= link_to "Edit Profile", edit_user_path(current_user.id),{id:"edit_profile_button"} %></p>
						<%end%>
					<%else%>
						
					<%end%>
				</div>
			</div>
			
			
	  </div>
	</div>
</body>


