<nav>
	<%= link_to (image_tag 'https://s3-ap-southeast-1.amazonaws.com/stalfire/icon.png',{id: 'nav-icon'}),root_path %>
	<%if current_user != nil %>
	<%= link_to "All Tour Records", records_path,{class:'nav-position-left'} %>
	<%end%>


	<%if logged_in?%>
		<%= link_to ("Log out"), logout_path, method: :delete, :class => 'nav-position-right' %>
		<%if current_user.name != "admin" && current_user.role == "reg_user"%>
		<%= link_to "Create new tour", new_record_path,{class:'nav-position-right'} %>
		<%end%>
		<%= link_to "My Profile", user_path(current_user.id),{class:'nav-position-right'}%>
	<%else%>
		<%= link_to ("sign up"), sign_up_path,{class:'nav-position-right'}%>
		<%= link_to ("sign in"), login_path,{class:'nav-position-right'} %>
	<%end%>
</nav>